@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}

nav{
    height: 12vh;
  }
  
.navMenu ul li a{
color: black;
}

.navMenu ul li a:hover{
color: #dda15e;
}

.partner{
    margin-top: 100px;
}

.gradient-background{
    background-image: linear-gradient(90deg, #6651f0, #f06efc);
}

.review h3{
    /* color: #ffff; */
    text-align: center;
}
 
/* .nav-link {
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
} */

.sosmed{
    font-size: 25px;
}

.ratings{
    font-size: 25px;
    margin-right:10px;
}

.ratings i{
    color:#cecece;
}

.rating-color{
    color:#fbc634 !important;
}