@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

:root{
    ---pr-color: #dda15e
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins";
    background-color: white;
}

/* navbar */
nav{
    height: 12vh;
}
.navMenu ul li a{
    color: black;
}

.navMenu ul li a:hover{
    color: #dda15e;
}

/* header */

.header{
    background-image:url("../public/img/fullimage.webp");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header .deskripsi{
    margin-top:190px;
}

.header h1{
    color: #ffff;
    font-size: 50px;
    font-weight: bold;
}

.header p{
    color: #ffff;
}
.header .deskripsi {
    margin-top: 280px;
}

.header .deskripsi .logo img{
    height: 400px;
    height: 400px;
}


/* alur */



/* konten */
#konten{
    background-image: linear-gradient(90deg, #6651f0, #f06efc);
}

.konten{
    height: 700px;
}

.konten .partner{
    margin-top: 100px;
}

.konten .partner img{
    width: 700px;
    height: 500px;
}
