*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Nunito', 'sans-serif'; */
}

.navbar-nav .nav-item .nav-link:focus {
    text-decoration: underline;
}

.gradient-background{
    background-image: linear-gradient(90deg, #6651f0, #f06efc);
}
 
.nav-link {
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
}

.sosmed{
    font-size: 25px;
}

.ratings{
    font-size: 25px;
    margin-right:10px;
}

.ratings i{
    color:#cecece;
}

.rating-color{
    color:#fbc634 !important;
}